/* Define some colors and other variables */
:root {
    --accent1: #ff3b3f;
    --accent2: #caebf2;
    --accent3: #a9a9a9;
    --accent4: #efefef;
    --accent5: rgb(53, 126, 189);

    --lightbrown: #F2EFEA;

    --accent8: #007bff;
    --accent9: rgb(0, 39, 145);

    --darkgrey: rgb(53, 55, 72);
    --normalgrey: #6c757d;
    --lightgrey: #f9f9f9;
    --light: #f8f9fa;

    --content-width: calc(min(1200px, 100% - 20px));
}

/* Base ---------------------------------------------------------------------*/
.logo {
    height: 30px;
}

body {
    overflow-x: hidden;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page::before {
    content: "";
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/bc/BlankMap-World-Compact.svg');
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.content-container {
    width: var(--content-width);
    margin: 0 auto;
}

.header-container {
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    background-color: var(--light);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);   
    z-index: 10;
}

.header-content-container {
    height: 100%;
}

.nav-link {
    border-bottom: 3px solid transparent;
    position: relative;
}

.nav-link.active-link {
    border-bottom: 3px solid var(--accent1);
    color: var(--accent1) !important;
    border-radius: 0;
}

.nav-link-tooltip-text {
    width: 120px;
    top: 100%; /* Place the tooltip below the link */
    left: 50%;
    margin-left: -60px; /* Use half the width to center the tooltip */
}

.footer-container {
    height: fit-content;
    background-color: var(--accent2);
}

.footer-content-container {
    height: 100%;
    padding: 20px;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: nowrap;
    background-color: white;
    /*border: 1px solid green;*/
    margin-bottom: 20px;
}

/* Reoccurring elements -----------------------------------------------------*/

.tooltip-text {
    visibility: hidden;
    background-color: rgba(100, 100, 100, 0.8);
    text-align: center;
    color: #fff;
    font-size: 0.8em;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 100000;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.has-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.question-box {
    /*border: 1px solid var(--normalgrey);*/
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--accent2);
}

.submit-button {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    color: white;
    background-color: var(--accent5);
    border-radius: 4px;
    border: 1px solid var(--accent5);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.submit-button:active {
    background-color: var(--accent9);
    box-shadow: none;
}

.form-label {
    color: --var(--darkgrey);
}

.form-label-header {
    font-weight: bold;
}

.form-help-text-display {
    color: var(--darkgrey);
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.form-help-text-infobox {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: var(--light);
    color: var(--normalgrey);
    border-radius: 4px;
    border: 1px solid var(--normalgrey);
    padding: 5px;
    font-size: 12px;
    left: 100%;
    top: 0;
    margin-left: 10px;
    width: 200px;
}

.form-help-text-infobox::before {
    content: "";
    position: absolute;
    left: -14px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent var(--normalgrey) transparent transparent;
}

.info-icon {
    cursor: pointer;
    color: var(--accent5);
}

.input-box {
    width: 100%;
    height: 37px;
    display: block;
    top: 0;
    left: 0;
    position: relative;
    padding: 0px 5px;
    border-radius: 4px;
    border: 1px solid rgb(170, 170, 170);
}

.select2.select2-container.select2-container--default {
    width: 100% !important;
}

.select2-dropdown {
    z-index: 100000;
}

.ui-autocomplete {
    z-index: 100000;
}

.form-input-label {
    color: var(--normalgrey);
    font-size: 0.8em;
}

.range-slider-with-histogram {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: calc(100% - 16px);
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    width: 100%;
}

.range-slider-histogram-content {
    display: block;
    width: 100%;
    height: auto;
}

.ui-slider {
    background: none;
    border: var(--normalgrey);
    height: 3px;
}

.ui-slider .ui-slider-handle {
    width: 16px;
    height: 16px;
    background-color: var(--normalgrey);
    border: none;
    border-radius: 50%;
    top: -9px;
}

.ui-slider .ui-slider-range {
    background-color: var(--normalgrey);
}

.switch-label {
    cursor: pointer;
    width: 40px;
    height: 20px;
    background: var(--normalgrey); /* #ccc */
    display: block;
    border-radius: 50px;
    position: relative;
    margin: 0;
}

.switch-label .switch-slider {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2px;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 45px;
    transition: 0.3s;
}

.switch-label.active {
    background: var(--accent5);
}

.switch-label.active .switch-slider {
    left: calc(100% - 4px);
    transform: translateX(-100%);
}

/* Location list ------------------------------------------------------------*/

.list .form-container {
    width: 35%;
    background-color: var(--accent2);
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

.form-group-box {
    background-color: var(--lightgrey);
    border: 1px solid var(--normalgrey);
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-group-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group-summary {
    background-color: var(--normalgrey);
    color: white;
    padding: 5px;
    cursor: pointer;
}

.preferences-intro-text {
    font-size: 0.8em;
}

.category-preferences {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    gap: 10px 20px;
}

.preferences-label {
    font-weight: bold;
    color: var(--normalgrey);
    font-size: 0.8em;
}

.preferences-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.importance-slider {
    flex-grow: 1;
}

.results-container {
    width: 55%;
    height: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sort-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    width: 100%;
    background-color: green;
    margin-top: 20px;
}

.sort-label {
    margin-right: 10px;
}

.location-list-container {
    width: 100%;
    background-color: blue;
}

.location-list-item-container {
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.location-list-item-image-container {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.location-list-item-image-container img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
  }

.location-list-item-info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    background-color: pink;
}

.location-list-item-title {
    font-size: 1.2em;
}

.location-list-item-city-name {
    font-weight: bold;
}

.location-list-item-distance-to-start {
    color: var(--darkgrey);
}

.location-list-item-country-name {
    font-size: 0.8em;
}

.location-list-item-relevance-container {
    flex: 0 0 100px;
    height: 100px;
    margin-left: 10px;
    align-self: flex-end;
    background-color: var(--accent3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-list-item-relevance {
    right: 20px;
    font-size: 2em;
}

/* Home page ----------------------------------------------------------------*/

.home-overview-container {
    align-self: center;
    width: min(500px, 80%);
}
.home-intro-text {
    text-align: center;
    margin-bottom: 20px;
}

.home-welcome {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.colored-letter {
    color: var(--accent1);
    font-family: 'Plantagenet Cherokee';
    font-weight: bold;
    font-size: 1.1em;
}

.f-space {
    margin-right: 2px;
}

.box-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 12px;
    background-color: var(--accent2);
    text-decoration: none;
    color: var(--darkgrey);
    position: relative;
    overflow: hidden;
}

.box-text {
    position: absolute;
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    text-align: left; /* Left-align the text */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: 100%;
    height: 100%; /* Make the text fill the whole box */
    transition: transform 0.3s;
    transform: translateY(100%); /* Start from the bottom */
}

.box:hover .box-text {
    transform: translateY(0); /* Move to the top on hover */
}

/* Discover page ------------------------------------------------------------*/

.discover-form-container {
    width: 80%;
    margin: 80px 0px;
    color: var(--darkgrey);
}

.discover-form-introtext {
    margin-bottom: 10px;
}

.discover-form-container form {
    width: 100%;
}

/* Search page --------------------------------------------------------------*/
.search-container {
    background-color: var(--accent2);
    width: 80%;
    margin-top: max(min(100px, 20vh), 10px);
    padding: 30px;
    border-radius: 10px;
}

.search-intro-text {
    text-align: center;
}

.search-form-container {
    width: 100%;
}

.search-form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.location-search-bar {
    margin: 20px 0px;
}

.search .select2-selection.select2-selection--single {
    height: 36px;
    line-height: 36px;
}

.search .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    color: black;
    font-weight: bold;
}

.search .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
    visibility: hidden;
}

.search .select2-container--default .select2-selection--single .select2-selection__clear {
    height: 34px !important;
    line-height: 34px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgb(136, 136, 136);
    margin-right: 15px;
}

/* Details page -------------------------------------------------------------*/

.details-page-container {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-page-header {
    width: 100%;
    z-index: 2;
    background-color: white;
}

.details-page-image-and-title-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.location-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.location-image-container img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
  }

.diag1, .diag2, .rect1, .rect2 {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    background-color: white;
}

.diag1, .diag2 {
    width: 150px;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.rect1, .rect2 {
    right: 0;
}

.diag1, .rect1 {
    z-index: 3;
    opacity: 0.5;
}

.diag2, .rect2 {
    z-index: 4;
    opacity: 0.9;
}

.title-container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
    padding-right: 20px;
    padding-bottom: 10px;
    color: var(--darkgrey);
}

.location-name {
    font-size: 3em;
    font-weight: bold;
}

.location-country {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;

}

.tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 2px solid var(--accent3);
    margin-top: 20px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.tablinks {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    background-color: var(--accent4);
    color: var(--darkgrey);
    border: 1px solid var(--accent3);
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    outline: none;
    padding: 10px;
    transition: 0.3s;
    font-weight: bold;
}

.tabcontent {
    display: none;
    width: 100%;
    background-color: var(--accent2);
    padding-top: 20px;
    color: var(--darkgrey);
}

.tabcontent.active {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tablinks.active {
    background-color: var(--accent2);
}

.category-description-tooltip-text {
    font-weight: normal;
    width: max-content;
    max-width: 500px;
    word-wrap: break-word;
    top: calc(100% + 10px);
}

.categeory-first-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.category-content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--light);
    border: 1px solid var(--normalgrey);
    border-radius: 10px;
    padding: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.category-content-title {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--darkgrey);
    margin-bottom: 10px;
}

.dimensions-figure-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}

.dimensions-figure {
    display: grid;
    justify-content: start;
    gap: 10px;
}

.dimension-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.dimension-name {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
    flex-grow: 0;
    color: var(--darkgrey);
}

.dimension-icon {
    height: 1em;
}

.dimension-name-text {
    text-align: right;
}

.dimension-description-tooltip-text {
    width: max-content;
    max-width: 300px;
    word-wrap: break-word;
    left: calc(100% + 15px);
}

.dimension-description-tooltip-text::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--normalgrey) transparent transparent;
}

.dimension-score-container {
    width: 200px;
    display: flex;
    align-items: center;
}

.dimension-score-slider {
    width: 100%;
    height: 15px;
    border-radius: 7.5px;
    border: none;
    background-color: var(--lightbrown);
    position: relative;
}
.dimension-score-slider-range {
    width: calc(100% - 15px);
    height: 100%;
    margin: auto;
    position: relative;
}

.dimension-score-knob {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--accent1);
    position: absolute;
    transform: translateX(-50%); /* Move the knob left by 50% of its own width */
}

.dimension-score-no-knob {
    width: 100%;
    height: 100%;
}

.score-tooltip-text {
    top: -50%;
    left: 150%;
}

.missing-score-tooltip-text {
    top: -50%;
    left: 50%;
}

.map-container {
    padding: 0 !important;
    /*border: none !important;*/
}

#mapid {
    height: 400px;
    z-index: 1;
    border-radius: 10px;
}

.weather-diagram-container {
    width: fit-content;
}

.weather-diagram-title {
    text-align: center;
}

.weather-diagram-tooltip {
    position: absolute;
    text-align: left;
    pointer-events: none;
    background-color: rgba(100, 100, 100, 0.8);
    color: #fff;
    font-size: 0.8em;
    padding: 5px;
    border-radius: 6px;
}

.temperature-bar {
    fill: var(--accent1);
}

.precipitation-bar {
    fill: var(--accent8);
}

.weather-diagram-axis-label {
    font-size: 12.8px;
}

.weather-diagram-axis-title{
    font-size: 16px;
    fill: var(--darkgrey);
    font-weight: bold;
}