{% extends "base.html" %}

{% block title %}
Compare destinations
{% endblock %}

{% block main %}
<div class="comparison-page-container">
    <table>
        <thead>
            <tr>
                <th>Color</th>
                <th>City</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
            <tr>
                <td><div id="{{ location.location_id}}" class="comparison-location-color"></div></td>
                <td>{{ location.city }}</td>
                <td>
                    <img src="https://flagsapi.com/{{ location.country_code }}/flat/24.png" alt="{{ location.country }} flag">
                    {{ location.country }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="myDiv" id="myDiv"></div>

    <div id="comparison-chart"></div>

    <div class="comparison-chart-container">
    </div>

</div>
{% endblock %}

{% block javascripts %}
<!-- Comparison chart -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    // Parse the JSON data
    var data = JSON.parse('{{ data|safe }}');

    // Function to generate a color
    function getColor(index, total) {
        var hue = index / total * 360;
        return 'hsl(' + hue + ', 100%, 50%)';
    }

    // Create the layout
    var layout = {
        autosize: true,
        height: 2000,
        width: 800,
        grid: {rows: data.length, columns: 1, pattern: 'independent'},
    };

    var traces = [];

    // Iterate over the categories
    data.forEach(function(category, i) {

        // Iterate over the locations to create the traces
        category.locations.forEach(function(location, j) {

            // Create arrays to hold the scores and dimension names
            var scores = [];
            var dimensionNames = [];
            location.dimensions.forEach(function(dimension) {
                scores.push(dimension.score);
                dimensionNames.push(dimension.dimension_name);
            });

            // Create the trace
            var trace = {
                x: scores,
                y: dimensionNames,
                mode: 'markers+lines',
                name: location.city + ' (' + location.country + ')',
                marker: {
                    color: getColor(j, category.locations.length),
                },
                type: 'scatter',
                xaxis: 'x' + (i + 1), 
                yaxis: 'y' + (i + 1), 
                legendgroup: location.city,
                showlegend: i === 0
            };

            // Add the trace to the array
            traces.push(trace);
        });

        // Define the axes
        layout['yaxis' + (i + 1)] = {
            type: 'category',
        };
        layout['xaxis' + (i + 1)] = {
            range: [0, 1]
        };

    });

    console.log(layout)

    // Create the plot
    Plotly.newPlot('comparison-chart', traces, layout);

</script>
{% endblock %}

