{% extends "base.html" %}

{% block title %}
Compare destinations
{% endblock %}

{% block main %}
<div class="comparison-page-container">
    <table>
        <thead>
            <tr>
                <th>Color</th>
                <th>City</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
            <tr>
                <td><div id="{{ location.location_id}}" class="comparison-location-color"></div></td>
                <td>{{ location.city }}</td>
                <td>
                    <img src="https://flagsapi.com/{{ location.country_code }}/flat/24.png" alt="{{ location.country }} flag">
                    {{ location.country }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="myDiv" id="myDiv"></div>

    <div id="comparison-chart"></div>

    <div class="comparison-chart-container">
    </div>

</div>
{% endblock %}

{% block javascripts %}
<!-- Comparison chart -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    // Parse the JSON data
    var data = JSON.parse('{{ data|safe }}');

    // Function to generate a color
    function getColor(index, total) {
        var hue = index / total * 360;
        return 'hsl(' + hue + ', 100%, 50%)';
    }

    // Create the layout
    var layout = {
        autosize: true,
        height: 1800,
        width: 800,
        margin: {
            l: 200, // Increase the left margin to make room for the y-labels
            r: 10,
            b: 50,
            t: 0,
            pad: 4
        },
        grid: {
            rows: data.length,
            columns: 1,
            pattern: 'independent'
        },
        annotations: [], // Will be filled in later
        legend: {
            x: 0.5,
            y: 1.06,
            xanchor: 'center',
            yanchor: 'top',
            orientation: 'h',
        } 
    };

    var traces = [];

    // Calculate the total number of dimensions
    gap = 2;
    var totalDimensions = 0;
    data.forEach(function(category) {
        category.locations.forEach(function(location) {
            totalDimensions += location.dimensions.length;
        });
    });

    var currentDimension = 0;

    // Iterate over the categories
    data.forEach(function(category, i) {
        var categoryDimensions = 0;
        // Iterate over the locations
        category.locations.forEach(function(location) {
            categoryDimensions += location.dimensions.length;
        });

        // Iterate over the locations again to create the traces
        category.locations.forEach(function(location, j) {
            // Create arrays to hold the scores and dimension names
            var scores = [];
            var dimensionNames = [];
            location.dimensions.forEach(function(dimension) {
                scores.push(dimension.score);
                dimensionNames.push(dimension.dimension_name);
            });

            // Create the trace
            var trace = {
                x: scores,
                y: dimensionNames,
                mode: 'markers+lines',
                name: location.city + ' (' + location.country + ')',
                marker: {
                    color: getColor(j, category.locations.length),
                },
                type: 'scatter',
                xaxis: 'x' + (i + 1), 
                yaxis: 'y' + (i + 1), 
                legendgroup: location.city,
                showlegend: i === 0
            };

            // Add the trace to the array
            traces.push(trace);
        });

        // Add an annotation for the category name
        layout.annotations.push({
            text: '<b>' + category.category_name + '</b>',
            xref: 'paper',
            yref: 'paper',
            x: 0.5,
            y: (currentDimension + categoryDimensions - (i === data.length-1 ? 0 : gap) + 0.5) / totalDimensions, // Position the annotation in the middle of the subplot
            xanchor: 'center',
            yanchor: 'bottom',
            showarrow: false,
            font: {
                size: 16
            }
        });

        // Define the y-axis for this category
        layout['yaxis' + (i + 1)] = {
            type: 'category',
            domain: [(currentDimension + (i === 0 ? 0 : gap)) / totalDimensions, (currentDimension + categoryDimensions - (i === data.length-1 ? 0 : gap)) / totalDimensions] // Set the domain based on the number of dimensions
        };
        layout['xaxis' + (i + 1)] = {
            range: [0, 1],
            title: i === 0 ? 'Score' : undefined,
            showticklabels: i === 0
        };

        currentDimension += categoryDimensions;
    });

    console.log(layout)

    // Create the plot
    Plotly.newPlot('comparison-chart', traces, layout, {displayModeBar: false});

</script>
{% endblock %}

