{% extends "base.html" %}

{% block title %}
Discover destinations
{% endblock %}

{% block main %}

<div class="discover-form-container">
    <div class="discover-form-introtext">
        <p>For some of our dimension scores we need some information from you. In addition, we use this input to compute the relevance of the various destinations based on your characteristics. <a href="/about">Learn more.</a> </p>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="form-group question-box">
            <label for="{{ form.start_location.id_for_label }}">{{ form.start_location.help_text }}</label>
            {{ form.start_location.errors }}
            {{ form.start_location.as_widget }}
        </div>
        <div class="form-group question-box">
            <label for="{{ form.date_range.id_for_label }}">{{ form.date_range.help_text }}</label>
            {{ form.date_range.errors }}
            {{ form.date_range.as_widget }}
        </div>
        <div class="form-group question-box">
            <label for="{{ form.previous_locations.id_for_label }}">{{ form.previous_locations.help_text }}</label>
            {{ form.previous_locations.errors }}
            {{ form.previous_locations.as_widget }}
        </div>
        <input type="submit" value="Go" class="submit-button">
    </form>
</div>

{% endblock %}