{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block header %}
Home
{% endblock %}

{% block content %}

<div class="home-prev-locations-container">
    <div class="home-prev-locations-text">
        <p>Search for locations you have previously visited. You can select multiple locations.</p>
    </div>

    <div class="home-form-container">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field.errors }}
                {{ field }}
            {% endfor %}
            <input type="submit" value="Go">
        </form>
    </div>
</div>

{% endblock %}