{% extends "base.html" %}

{% block title %}
{{ location.city }}
{% endblock %}

{% block main %}
<div class="details-page-container">
    <div class="details-page-header">
        <div class="location-image-container">
            <img class="location-image" src="{{ image }}" alt="{{ location.city }} image" width="100%" height="100%">
        </div>
        <div class="diag1"></div><div class="diag2"></div><div class="rect1"></div><div class="rect2"></div>
        <div class="title-container">
            <div class="location-name">{{ location.city }}</div>
            <div class="location-country">
                {{ location.country }}
                <img src="https://flagsapi.com/{{ location.country_code }}/flat/24.png" alt="{{ location.country }} flag">
            </div>
        </div>
    </div>

    <div class="tabs">
        {% for category in data %}
        <button class="tablinks has-tooltip" onclick="openCategory(event, '{{category.category_name}}')">
            {{ category.category_name }}
            <span class="tooltip-text category-description-tooltip-text">{{ category.category_description }}</span>
        </button>
        {% endfor %}
        <button class="tablinks" onclick="openCategory(event, 'Similarity')">Similarity</button>
    </div>

    {% for category in data %}
    <div id="{{category.category_name}}" class="tabcontent">

        <!-- Scores -->
        {% if category.category_name != "General" %}
        <div class="category-content-container">
            <div class="dimensions-figure-wrapper">
                <div class="dimensions-figure">
                    {% for dimension in category.dimensions %}
                    <div class="dimension-container">
                        <div class="dimension-name has-tooltip">
                            {{ dimension.dimension_name }}
                            <span class="tooltip-text dimension-description-tooltip-text">{{ dimension.dimension_description }}</span>
                        </div>
                        <div class="dimension-score-container">
                            <div class="dimension-score-slider">
                                <div class="dimension-score-slider-range">
                                    <div class="dimension-score-knob has-tooltip" style="left: calc({{ dimension.score }} * 100%)">
                                        <span class="tooltip-text score-tooltip-text">{{ dimension.score|floatformat:2 }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Texts -->
        <div class="category-content-container">
            <div class="text-container">{{ category.text }}</div>
        </div>

        <!-- Further data -->
        {% if category.category_name == "Geography" %}
        <div class="category-content-container map-container">
            <div id="mapid"></div>
        </div>
        {% endif %}

    </div>
    {% endfor %}

    <div id="Similarity" class="tabcontent">
        <p>Similarity</p>
    </div>
    
</div>

{% endblock %}

{% block javascripts %}

<!-- Leaflet map -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<script>
    var map;

    // Open the category tab that was clicked
    function openCategory(evt, categoryName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].classList.remove("active");
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
        }
        document.getElementById(categoryName).classList.add("active");
        if (evt && evt.currentTarget) {
            evt.currentTarget.classList.add("active");
        }

        // If the map tab is opened, invalidate the map size
        if (categoryName === 'Geography' && !map) {
            map = L.map('mapid').setView([{{ location.lat }}, {{ location.lon }}], 13);

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            var geojson = JSON.parse('{{ location.geojson|escapejs }}');
            var geojsonLayer = L.geoJSON(geojson).addTo(map);

            // Adjust the view to fit the bounds of the GeoJSON layer
            map.fitBounds(geojsonLayer.getBounds());
        }
    }

    // Moving fill area on image when scrolling
    var diag1 = document.querySelector('.diag1');
    var rect1 = document.querySelector('.rect1');

    // Store the initial right and width values
    var initialRightDiag1 = parseFloat(getComputedStyle(diag1).right) || 0;
    var initialWidthRect1 = parseFloat(getComputedStyle(rect1).width) || 0;

    // Get the parent element and its width
    var parent = document.querySelector('.details-page-header');
    var parentWidth = parseFloat(getComputedStyle(parent).width) || 0;

    // Set the number of pixels to scroll
    var scrollPixels = 120;

    // Calculate the number of pixels to move for each scroll pixel
    var movePixels = parentWidth / scrollPixels;

    // Add the scroll event listener
    window.addEventListener('scroll', function() {
        // Calculate the scroll position as a percentage of the scrollPixels
        var scrollPercent = Math.min(window.scrollY / scrollPixels, 1) * 100;

        // Calculate the new right and width values
        var newRightDiag1 = initialRightDiag1 + scrollPercent * movePixels;
        var newWidthRect1 = initialWidthRect1 + scrollPercent * movePixels;

        // Ensure the new values do not exceed the initial values
        newRightDiag1 = Math.max(newRightDiag1, initialRightDiag1);
        newWidthRect1 = Math.max(newWidthRect1, initialWidthRect1);

        // Adjust the right and width properties
        diag1.style.right = newRightDiag1 + 'px';
        rect1.style.width = newWidthRect1 + 'px';
    });

    window.onload = function() {
        // Click on general tab by default
        var generalTabButton = document.querySelector(".tablinks.active");
        openCategory({currentTarget: generalTabButton}, 'General');

        // Position tooltips for category descriptions
        var tooltips = document.querySelectorAll('.category-description-tooltip-text');;
        tooltips.forEach(function(tooltip) {
            var parent = tooltip.parentElement;
            var container = parent.parentElement
            parent.addEventListener('mouseenter', function() {
                var parentRect = parent.getBoundingClientRect();
                var tooltipRect = tooltip.getBoundingClientRect();
                var left = parentRect.left + parentRect.width / 2 - tooltipRect.width / 2;
                if (left < container.offsetLeft) {
                    left = container.offsetLeft;
                } else if (left + tooltipRect.width > container.offsetWidth) {
                    left = container.offsetWidth - tooltipRect.width + container.offsetLeft;
                }
                tooltip.style.left = (left - tooltip.offsetParent.getBoundingClientRect().left) + 'px';
                tooltip.style.transform = 'none';
            });
        });

    }

</script>

{% endblock %}
