{% extends "base.html" %}

{% block title %}
Discover destinations
{% endblock %}

{% block main %}

<div class="search-container">
    <div class="search-text">
        <p>Search for a specific location and hit "GO". You will be redirected to a page with more details about this location.</p>
    </div>

    <div class="search-form-container">
        <form method="post">
            {% csrf_token %}
            {{ search_location_form.location.errors }}
            {{ search_location_form.location.as_widget }}
            <input type="submit" value="Go">
        </form>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script>
    // Location select
    var preselectedValues = {{ searched_location|safe }};
    console.log(preselectedValues);
    initializeSelect2('id_location', preselectedValues);
</script>
{% endblock %}